.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  position: relative;
}
.meeting {
  position: fixed;
  top: 12vh;
  left: 22vw;
  width: 56vw;
  padding: 5vh 5vw;
  background: #fff;
  z-index: 1;
  border: 2px solid #000;
  border-radius: 2px;
  text-align: left;
}
/*.meeting .buttonClose {
  float: right;
  margin: 10px 10px 0 0;
  padding: 0 3px;
  width: 22px;
  border: 2px solid #000;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
} */
.meeting div {
  margin: 10px;
}
.select-user label {
  float: left;
}
.select-user select {
  height: 120px;
}
.panel {
  margin: 10px 0;
}
.deleteModal {
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  padding: 5vh 5vw;
  background: #fff;
  z-index: 1;
  border: 2px solid #ccc;
  text-align: left;
}
.deleteModalText {
  margin-bottom: 20px;
}
.meetingPlace {
  background: greenyellow;
  border: 1px solid green;
  border-radius: 7px;
}
.meetingPlace .meeting-cell {
  cursor: pointer;
  text-align: left;
  margin: 1px 2px;
}

.meetingPlace .meeting-cell span {
  max-width: 100%;
  max-height: 48px;
  overflow: hidden;
  display: inline-block;
}
.buttonClose {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 0px 0px 1px 1px;
  cursor: pointer;
  font-size: 10px;
}
.buttonClose:hover {
  color: #fff;
  background: #000;
}
.buttonLink {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-weight: bold;
}
.buttonLink:hover {
  text-decoration: none;
  background: #ccc;
  color: #fff;
  cursor: pointer;
}
.customInput {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.calendar-area {
  border: 1px solid #000;
  display: table;
}
.calendar-cell {
  border: 1px solid #000;
  display: table-cell;
  vertical-align: top;
  padding: 5px 10px;
  /*  overflow: hidden;*/
  min-height: 48px;
}
label {
  font-weight: bold;
}
